* {
  color: #1a1f36;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}
body {
  min-height: 100%;
  background-color: hsl(0, 13%, 95%);
}

#main-box > h1 {
  letter-spacing: -1px;
  color: #5469d4;
}

#main-box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#main-box h1, p {
  text-align: center;
}
#form-box{
  /* border: 2px solid blue; */
  padding: 20px 40px ;
  margin: 40px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background: white;
}

#PassArea{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
}

#bottom, #bottom > p > a{
  display: flex;
  justify-content: space-evenly;
  color:black;
}

a{
  text-decoration: none;
    color: #5469d4;
}

.inputbox{
  width: 300px;
  border: 2px solid black;
  padding: 10px;
}

button{
  width: 100%;
  background-color:#5469d4;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #3e50b4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}